<a class="social_link" href="https://t.me/RebOOter">
    <img src="{{site.baseurl}}/assets/telegram_logo.png">
    <p>Телеграм</p>
</a>
<a class="social_link" href="https://twitter.com/RebOOter8D">
    <img src="{{site.baseurl}}/assets/twitter_logo.png">
    <p>Твиттер</p>
</a>
<a class="social_link" href="https://www.instagram.com/rebooter8d/">
    <img src="{{site.baseurl}}/assets/instagram_logo.png">
    <p>Инстаграм</p>
</a>
<a class="social_link" href="https://www.youtube.com/channel/UCMrPsxeulTmhzsgr3119wZQ">
    <img src="{{site.baseurl}}/assets/Youtube_logo.png">
    <p>YouTube</p>
</a>
<a class="social_link" href="mailto:rebooter8d@gmail.com">
    <img src="{{site.baseurl}}/assets/email_logo.png">
    <p>rebooter8d@gmail.com</p>
</a>