---
layout: default
title: Посты - Адмирал Ясин Хун вещает
---
<div class="posts-list">
    <div class="header-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('{{site.baseurl}}/assets/fleet.png');"></div>
    <h1 class="header-post list">Немного об адмирале</h1>
</div>
<p>Есть у меня такой приятель -- Адмирал Ясин Хун. Как раз во флотилии Ясина одним из судов управляет небезызвестный Капитан Очевидность. Или там каждый кораблём такой капитан управляет? В общем, лодок у этого адмирала побольше, чем шуток за 200. Так как пили мы с ним не один раз, он любезно даёт порулить мне некоторые свои лодки. Отходя от этих метафор -- статьи в этом разделе даже не капитанские, а адмиральские. Они рассказывают об очевидных вещах, которые вы точно слышали так или иначе. По прочтению может возникнуть мысль “да известная же тема, слышал over9999 раз”, однако стоит пояснить, зачем такие статьи нужны.</p>
<p>Капитан Очевидность сидел бы без работы и был бы самым ненужным супергероем, если бы всё для всех всегда было очевидно. Какие-то вещи кристально понятные для одного, могут быть тёмным лесом для другого. То, что понятие графа не относится к высшей математике может быть очевидно для одной группы лиц, но совершенно непонятно для другой. Или человек может просто не знать этого, так как только начинает протаптывать себе дорожку в той или иной сфере. А потому капитанским можно, в какой-то мере, назвать и учебник алгебры за 5й класс.</p>
<p>Конечно, есть свои рамки и адмирал Ясин часто их нарушает говоря, что трава зелёная, а небо сверху (хотя с этим тоже можно поспорить). Я же постараюсь взять лодки, которые могут кому-то пригодиться или хотя бы вызвать огонь дискуссии на насиженных стульях. А потому</p>
<p><b>Все статьи ниже могут показаться потоком сознания адмиральского масштаба! Уберите детей и особо чувствительных граждан от данной категории моего графоманского творчества! И приготовьте лодку -- может быть много воды.</b></p>
{% for category in site.categories %}
{% if category[0] == "admiral" %}
{% for post in category[1] %}
<a href="{{post.url}}" title="{{post.title}}">
    <div class="posts-list">
        <div class="header-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('{{site.baseurl}}/assets/{{post.slug}}.png');"></div>
        <h1 class="header-post list">{{post.title}}</h1>
        <p class="desc-post">{{post.description}}</p>
    </div>
</a>
{% endfor %}
{% endif %}
{% endfor %}