---
layout: default
---
<div>
    <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('{{site.baseurl}}/assets/{{page.slug}}.png');"
         class="header-image">
        <h1 class="header-post">{{ page.title }}</h1>
    </div>
</div>
<p class="meta">{{ page.data | date_to_long_string }}</p>

<div class="post">
    {{ content }}
</div>

<div>
    <form method="post" action="https://api.staticman.net/v2/entry/rebooter/rebooter.github.io/master/comments">
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        <label for="name">Имя</label>
        <input id="name" name="fields[name]" type="text" placeholder="Иванов Иван">
        <label for="email">Мыло</label>
        <input id="email" name="fields[email]" type="email" placeholder="ivanov@example.com">
        <label for="message">Комментарий</label>
        <textarea id="message" name="fields[message]" placeholder="Текст..."></textarea>

        <input type="submit">
    </form>
</div>

<div>
    <h1>Комментарии</h1>
    {% assign comments = site.data.comments[page.slug] %}
    {% if comments != null %}
    {% assign comments = site.data.comments[page.slug] | sort %}
    {% for comment in comments %}
    {% assign name = comment[1].name %}
    {% assign message = comment[1].message %}
    {% include comment.html name = name message = message %}
    {% endfor %}
    {% endif %}
</div>